* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	gap: 40px;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-column-between {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-self: flex-start;
	align-items: flex-start;
}
.flex-column-center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: flex-start;
	align-items: flex-start;
}
.flex-column-around {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex-row-between {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.flex-row-around {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.flex-row-center {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.flex-row {
	display: flex;
}

.btn_primary {
	background: var(--primary-color);
	width: 60%;
	height: 7vh;
	font-size: var(--text-large-small);
	color: var(--general-color);
	text-align: center;
	/* border-radius: 20px; */
	border: none;
	align-self: center;
	cursor: pointer;
	/* box-shadow: 1px 1px 4px rgba(22, 119, 255, 1); */
}

/* #fdfafa */
/* #fffefe */
/* #fffafa */

:root {
	--backround-color-primary: #fdfdfd;
	--primary-color: #1677ff;
	--hover-color: #4a4afd;
	--text-large: 1.9em;
	--text-large-small: 1.7em;
	--background-light: #fffefe;
	--general-color: #fff;
	--text-medium: 1.5em;
	--text-small: 1.3em;
	--title-color-secondary: #000000;
}
.primary_color {
	color: var(--primary-color);
}

.title {
	font-size: var(--text-large);
	color: var(--primary-color);
}
a:hover {
	color: var(--hover-color);
}
a {
	text-decoration: none;
}
.term_condition {
	font-size: var(--text-small);
}
.term_condition p:last-child {
	margin-top: 0.3em;
}
.header {
	height: 30vh;
	min-width: 97vw;
	align-self: center;
	/* background: red; */
}

.main {
	background: var(--general-color);
	min-height: 100vh;
	min-width: 97vw;
}

.main > section.left {
	min-width: 30vw;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	background: yellow;
}

.main > section.left > .headline {
	background: var(--backround-color-primary);
	min-height: 70%;
	min-width: 70%;
	align-items: center;
	box-sizing: 1px 1px 5px;
	padding: 0 0.9em;
	/* align-self: flex-start; */
}

.headline > .title_text {
	font-size: var(--text-large-small);
	text-align: center;
}

.profile {
	align-self: center;
	min-width: 90%;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.profile > h3.name {
	margin-top: 1em;
}
.picture {
	background: #fdfdfd;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture > h1 {
	font-family: "Inter";
	font-style: normal;
	font-size: 100px;
	line-height: 182px;
}
.main > section.right {
	min-width: 50vw;
	height: 100%;
	/* background: orange; */
}
.form {
	background: var(--backround-color-primary);
	width: 90%;
	height: 100%;
	align-self: center;
	padding-left: 1em;
	padding-bottom: 0.5em;
	padding-top: 4em;
	position: relative;
}
.form > .title_wrapper {
	position: absolute;
	top: 0;
	right: calc(90% - 50%);
}
.form > .title_wrapper + .input_wrapper {
	margin-top: 5em;
}
label.title {
	text-transform: capitalize;
}
.button_wrapper {
	text-align: center;
	padding: 2em 0;
	margin-top: 0.5em;
}
.icon_wrapper {
	height: 30px;
	width: 30px;
	align-items: center;
}
.forget_password_wrapper {
	align-items: center;
}
.forget_password > a,
.remember_me > h3 {
	font-size: var(--text-small);
}

.remember_me {
	align-items: center;
}

.remember_me > .checkbox {
	width: 1.2em;
	height: 1.2em;
}

.input_body {
	min-width: 90%;
	display: flex;
	align-items: center;
}
.input_body > .form_icon {
	color: #ded9d9;
	margin-right: 0.2em;
	z-index: 1;
}

.link_here {
	color: var(--primary-color);
}

.fa-eye {
	margin-left: -1.2em;
}

.detect {
	margin-left: -3em;
	cursor: pointer;
	color: #d18f8f;
}

.title_wrapper {
	text-align: center;
}
.title_wrapper > .title {
	font-size: 2.5em;
	color: var(--title-color-secondary);
}
.title_wrapper > h2.title {
	color: var(--primary-color);
}
.title_form {
	color: var(--title-color-secondary);
}
.input_wrapper {
	margin-top: 2em;
}
.input_wrapper > .title {
	font-size: var(--text-small);
}
.footer {
	display: flex;
	min-width: 97vw;
	align-self: center;
	flex-direction: column;
	justify-content: space-between;
	min-height: 50vh;
	background: var(--backround-color-primary);
}
.footer_top {
	min-width: 100%;
	display: flex;
}

.footer_down {
	min-width: 90%;
	align-self: center;
	padding: 0.3em;
}

.footer_list {
	width: 100%;
	min-height: 50vh;
	text-align: center;
}
.footer_list > h2 {
	font-size: var(--text-small);
	text-align: left;
}
.footer_list > .title_wrapper {
	display: flex;
	margin-top: 0.5em;
}
.footer_list > .title_wrapper > .title {
	font-size: var(--text-small);
}

.input {
	width: 90%;
	height: 6vh;
	border: 0;
	border-bottom: 1px solid #00000070;
	outline: none;
	cursor: pointer;
	font-size: var(--text-medium);
}

@media screen and (max-width: 650px) {
	.header {
		height: 0;
		display: none;
	}

	.main {
		flex-direction: column;
		min-width: 30vw;
	}

	.main > section.left {
		margin-bottom: 2em;
	}

	.main > section.left > .headline {
		height: 30vh;
		justify-content: space-around;
		align-self: center;
	}

	.headline > .title_text {
		font-size: var(--text-small);
		text-align: justify;
	}
	.form {
		padding: 1em;
	}
	.form > .title_wrapper {
		position: absolute;
		top: 0;
		right: calc(90% - 50%);
	}
	.footer {
		min-width: 90%;
	}
	.footer_top {
		display: flex;
		flex-direction: column;
		min-width: 80%;
	}
	.footer_list {
		min-height: 25vh;
	}

	.footer_down {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.footer_down > .left {
		margin-bottom: 0.3em;
	}
	.term_condition{
		font-size: 1em;
	}
}

@media screen and (min-width: 651px) {
	.main {
		flex-direction: column;
		min-width: 30vw;
	}

	.main > section.left > .headline {
		height: 30vh;
		justify-content: space-around;
		align-self: center;
	}

	.header {
		display: none;
	}

	.headline > .title_text {
		font-size: var(--text-large-small);
		text-align: justify;
	}

	.main > section.left {
		text-align: center;
		min-height: 40vh;
		margin-bottom: 3em;
	}

	.btn_primary {
		width: 60%;
		height: 5vh;
	}
}

@media screen and (min-width: 720px) {
	.header {
		display: flex;
	}
	.main {
		flex-direction: row;
	}
	
	.main > section.left > .headline {
		width: 90%;
		min-height: 30vh;
	}
	.main > section.left {
		height: 70vh;
	}
	.headline > .title_text {
		font-size: var(--text-large);
		text-align: center;
	}
	.forget_password_wrapper {
		width: 90%;
		margin-bottom: 2em;
		font-size: 0.8em;
	}
	.term_condition{
		font-size: 1.2em;
	}
}
